

.ListHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 3rem;
  color: azure;
 
}

.list{
  color:azure ;
  font-size: 1.5rem;
  
  text-align:left;
  align-items: flex-start;
  
  
}
